.active-page-marker{
    list-style: none;
    float: left;
    cursor: pointer;
    border: 1px solid #282c34;
    background-color: #282c34;
    color: white;
    font-weight: bold;
    padding: 2px 10px;
}

.inactive-page-marker{
    list-style: none;
    float: left;
    cursor: pointer;
    padding: 2px 10px;
    border: 1px solid #282c34;
}

.inactive-page-marker:hover{
    background-color: #6f7b90;
}