.active-page-marker{
    list-style: none;
    cursor: pointer;
    border: 1px solid #282c34;
    background-color: #282c34;
    color: white;
    font-weight: bold;
    padding: 2px 10px;
    display: inline-flex;
}

.inactive-page-marker{
    list-style: none;
    cursor: pointer;
    padding: 2px 10px;
    border: 1px solid #282c34;
    display: inline-flex;
}
.inactive-page-marker:hover{
    background-color: #6f7b90;
}

.small-marker:first-child{
    border-radius: 4px 0 0 4px;
}
.small-marker:last-child{
    border-radius: 0 4px 4px 0;
}

.active-page-marker-small{
    list-style: none;
    cursor: pointer;
    border: 1px solid #282c34;
    background-color: #282c34;
    color: white;
    font-weight: bold;
    padding: 2px 10px;
    display: inline-flex;
}
.active-page-marker-small:only-child{
    border-radius: 4px;
}

.inactive-page-marker-small{
    list-style: none;
    cursor: pointer;
    padding: 2px 10px;
    border: 1px solid #282c34;
    display: inline-flex;
}
.inactive-page-marker_small:hover{
    background-color: #6f7b90;
}

.end-marker{
    list-style: none;
    cursor: pointer;
    padding: 2px 10px;
    border: 1px solid #282c34;
    display: inline-flex;
}
.end-marker:first-child{
    border-radius: 4px 0 0 4px;
}
.end-marker:last-child{
    border-radius: 0 4px 4px 0;
}
.end-marker:hover{
    background-color: #6f7b90;
}

.skipper{
    list-style: none;
    cursor: pointer;
    padding: 2px 10px;
    display: inline-flex;
    border: 1px solid #282c34;
}